{% extends 'newref/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block head %}

{% endblock %}



{% block content %}

<nav aria-label="..." class="mb-5">
  <ul class="pagination">

    <li class="page-item"><a class="page-link" href="{% url 'voteadmin' ref.hash %}">Configuration</a></li>
    <li class="page-item"><a class="page-link" href="{% url 'voteadmin_questions' ref.hash %}">Questions & Options</a></li>
    <li class="page-item"><a class="page-link" href="{% url 'voteadmin_votants' ref.hash %}">Liste des votants</a></li>
    <li class="page-item active" aria-current="page">
      <span class="page-link">
        Envoi des bulletins
        <span class="sr-only">(current)</span>
      </span>
    </li>
    
    <li class="page-item"><a class="page-link"href="{% url 'voteadmin_depouillement' ref.hash %}">Dépouillement</a></li>
  </ul>
</nav>

<div class="alert alert-info alert-dismissible fade show" role="alert">
  Cette page permet de configurer et d'envoyer les bulletins de vote.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

{% if not ref.status == "CONFIG" %}
  <div class="alert alert-primary mt-4">
    {{ref.sent_rawvotes.count}} bulletins ont été envoyés. {{ref.unsent_rawvotes.count}} n'ont pas été envoyés.<br/>
    <br/>

      <strong>Bulletins non-envoyés :<br /></strong>
      {% for rawvote in ref.unsent_rawvotes %}
        {{rawvote.email}}<br/>
      {% endfor %}
      <br />
      <strong>Bulletins envoyés :<br/></strong>
      {% for rawvote in ref.sent_rawvotes %}
        {{rawvote.email}}<br/>
      {% endfor %}
  </div>

  <hr>

{% endif %}



<form id="ref_form" method="post" action="{% url 'voteadmin_bulletins' ref.hash %}">
  <fieldset {% if ref.status == "FINISHED" %}disabled="disabled"{% endif %}>
  {% csrf_token %}
   {{form | crispy}}
    <button id = "savebut" type="submit" class="btn btn-outline-primary">
    <span hidden id="spinner_1" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>  
    Enregistrer
    </button>
  </fieldset>
</form>

<hr>

<div class="mb-2">
  Un mail de test permet de s'assurer que la boite d'envoi choisie ci-dessus fonctionne bien.<br />
  Vous devez recevoir un mail ayant pour objet "Décidons : Test de connexion réussi !". 
</div>

<form method="post" action="{% url 'test_email_sending' ref.hash %}">
  {% csrf_token %}
   <input type="email" name="email">
   <button id="testbut" type="submit" class="btn btn-primary ml-2">
    Envoyer un mail de test à cette adresse
    <span hidden id="spinner_3" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>     
    </button>
</form>

<hr>

<button class="btn btn-primary" onclick=" window.open('{% url 'preview_bulletin' ref.hash %}','_blank')">Prévisualiser un bulletin </button>

<br>

{% if ref.status == "CONFIG" %}

  <!-- Button trigger modal -->
  <button type="button" class="btn btn-warning mt-4" data-toggle="modal" data-target="#exampleModal">
    Envoyer les bulletins
  </button>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Envoyer les bulletins</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Attention : une fois les bulletins envoyés, vous ne pourrez plus modifier les paramètres de la votation. Vérifiez bien tous les champs avant d'envoyer les bulletins.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
          <button id="sendbut" type="button" class="btn btn-warning" 
            onclick="location.href ='{% url 'send_bulletins' ref.hash %}'">
            J'ai tout vérifié, allons-y !
          	<span hidden id="spinner_2" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>     
            </button>
        </div>
      </div>
    </div>
  </div>

{% elif ref.status == "SENT" %}
      <button id="sendbut" type="button" class="btn btn-warning mt-4" 
        onclick="location.href ='{% url 'send_bulletins' ref.hash %}'">
        Retenter l'envoi pour les bulletins non envoyés
      <span hidden id="spinner_2" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>     
  </button>

{% endif %}


<script type="text/javascript">
	$(document).ready(function () {
    
    $("#ref_form").bind("change paste keyup", function() {
        $("#savebut").attr('class', 'btn btn-warning');
    });

     $("#sendbut").click(function() {
			  $("#spinner_2").removeAttr('hidden');
		});

     $("#testbut").click(function() {
			  $("#spinner_3").removeAttr('hidden');
		});

  });
</script>


{% endblock %}