{% extends 'newref/base.html' %} 
{% load static %} {% load crispy_forms_tags %}
{% block title %}Couture en tête{% endblock %} {% block head %} {% endblock %}
{% block content %}

<nav aria-label="..." class="mb-5">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="{% url 'voteadmin' ref.hash %}"
        >Configuration</a
      >
    </li>

    <li class="page-item active" aria-current="page">
      <span class="page-link">
        Questions & Options
        <span class="sr-only">(current)</span>
      </span>
    </li>

    <li class="page-item">
      <a class="page-link" href="{% url 'voteadmin_votants' ref.hash %}"
        >Liste des votants</a
      >
    </li>
    <li class="page-item">
      <a class="page-link" href="{% url 'voteadmin_bulletins' ref.hash %}"
        >Envoi des bulletins</a
      >
    </li>
    <li class="page-item">
      <a class="page-link" href="{% url 'voteadmin_depouillement' ref.hash %}"
        >Dépouillement</a
      >
    </li>
  </ul>
</nav>

<div class="alert alert-info alert-dismissible fade show" role="alert">
  Cette page permet de définir les questions qui seront posées, et les options
  (réponses possibles) pour chacune des questions. Il est possible de revenir
  dessus tant que les bulletins n'ont pas été envoyés.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

{% if ref.status == "CONFIG" %}
<form method="post" action="{% url 'voteadmin_questions' ref.hash %}">
  {% csrf_token %} {{form | crispy}}
  <button type="submit" class="btn btn-primary">Ajouter une question</button>
</form>

<hr />

<form method="post" action="{% url 'voteadmin_questions' ref.hash %}">
  {% csrf_token %} {{optionForm | crispy}}
  <button type="submit" class="btn btn-primary">Ajouter une option</button>
</form>

{% endif %}

<hr />
<h3 class="mb-3">Questions & Options</h3>

{% for question in ref.questions %}
<div class="mb-3 mt-3">
  <b
    >{{question.text}} {% if ref.status == "CONFIG" %}<a
      href="{% url 'delete_question' ref.hash question.id %}"
      style="color: rgb(255, 0, 0)"
      >(X)</a
    >{% endif %}
  </b>
</div>

<ul class="list-group">
  {% for option in question.options %}
  <li class="list-group-item">
    {{option.text}} {% if ref.status == "CONFIG" %}<a
      href="{% url 'delete_option' ref.hash option.id %}"
      style="color: red"
      >(X)</a
    >
  </li>
  {% endif %} {% endfor %}
</ul>
{% endfor %} {% endblock %}
