{% extends 'newref/base.html' %} {% load static %} {% load crispy_forms_tags %}
{% block head %} {% endblock %} {% block content %}

<nav aria-label="..." class="mb-5">
  <ul class="pagination">
    {% if ref.crypted %}
    <li class="page-item">
      <a class="page-link" href="{% url 'rsa_display' ref.hash %}"
        >Confidentialité</a
      >
    </li>
    {% endif %}
    <li class="page-item">
      <a class="page-link" href="{% url 'voteadmin' ref.hash %}"
        >Configuration</a
      >
    </li>

    <li class="page-item active" aria-current="page">
      <span class="page-link">
        Questions & Options
        <span class="sr-only">(current)</span>
      </span>
    </li>

    <li class="page-item">
      <a class="page-link" href="{% url 'voteadmin_votants' ref.hash %}"
        >Liste des votants</a
      >
    </li>
    <li class="page-item">
      <a class="page-link" href="{% url 'voteadmin_bulletins' ref.hash %}"
        >Envoi des bulletins</a
      >
    </li>
    <li class="page-item">
      <a class="page-link" href="{% url 'voteadmin_depouillement' ref.hash %}"
        >Dépouillement</a
      >
    </li>
  </ul>
</nav>

<div class="alert alert-info alert-dismissible fade show" role="alert">
  Cette page permet de définir les questions qui seront posées, et les options
  (réponses possibles) pour chacune des questions. Il est possible de revenir
  dessus tant que les bulletins n'ont pas été envoyés.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

{% if ref.status == "CONFIG" %}
<form method="post" action="{% url 'voteadmin_questions' ref.hash %}">
  {% csrf_token %} {{form | crispy}}
  <button id="savebut_1" type="submit" class="btn btn-primary">
    Ajouter une question
    <span
      hidden
      id="spinner_1"
      class="spinner-border spinner-border-sm"
      role="status"
      aria-hidden="true"
    ></span>
  </button>
</form>

<hr />

<form method="post" action="{% url 'voteadmin_questions' ref.hash %}">
  {% csrf_token %} {{optionForm | crispy}}
  <button id="savebut_2" type="submit" class="btn btn-primary">
    Ajouter une option
    <span
      hidden
      id="spinner_2"
      class="spinner-border spinner-border-sm"
      role="status"
      aria-hidden="true"
    ></span>
  </button>
</form>

{% endif %}

<hr />
<h3 class="mb-3">Questions & Options <button class="btn btn-primary" onclick=" window.open('{% url 'votepage' ref.testvote.code %}','_blank')">Prévisualiser la page de vote</button> </h3>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Numéro</th>
      <th scope="col">Intitulé</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {% for question in ref.questions %}
    <tr class="table-success">
      <th scope="row">Question {{question.order}}</th>
      <td>
        {% if question.explanation %}{{question.explanation|linebreaks}}{% endif %}
        <strong>{{question.text|linebreaks}}</strong></td>
      <td>
          {% if ref.status == "CONFIG" %}
            <button class="btn btn-danger" 
              onclick="window.location.href='{% url 'delete_question' ref.hash question.id %}'"
            >Supprimer</button>
            <button class="btn btn-primary" 
              onclick="window.location.href='{% url 'edit_question' ref.hash question.id %}'"
            >Modifier</button>
            {% if not forloop.counter == 1 %}<button class="btn btn-success" 
            onclick="window.location.href='{% url 'moveup_question' ref.hash question.id %}'"
          >Monter</button>{% endif %}
          {% endif %}
        </td>
    </tr>

      {% for option in question.options %}
    <tr>
      <th scope="row">Option {{option.order}}</th>
      <td>{{option.text|linebreaks}}</td>
      <td>
        {% if ref.status == "CONFIG" %}
          <button class="btn btn-danger" 
          onclick="window.location.href='{% url 'delete_option' ref.hash option.id %}'"
          >Supprimer</button>
          <button class="btn btn-primary" 
          onclick="window.location.href='{% url 'edit_option' ref.hash option.id %}'"
          >Modifier</button>
          {% if not forloop.counter == 1 %}<button class="btn btn-success" 
          onclick="window.location.href='{% url 'moveup_option' ref.hash option.id %}'"
          >Monter</button>{% endif %}

        {% endif %}
        </td>
    </tr>        
      {% endfor %}
    {% endfor %}

  </tbody>
</table>


<script type="text/javascript">
  $(document).ready(function () {

     {% comment %} $("#savebut_1").click(function() {
  		$("#spinner_1").removeAttr('hidden');
  	});
     $("#savebut_2").click(function() {
  		$("#spinner_2").removeAttr('hidden');
  	}); {% endcomment %}
   });
</script>

{% endblock %}
