{% extends 'newref/base.html' %} {% load static %} {% load crispy_forms_tags %}
{% block head %} {% endblock %}
{% block content %}

<h3 class="mb-4">{{ref.text}}</h3>

{% for question in ref.questions %}

<div>{{question.text}}</div>

<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Option</th>
      {% for option, result in question.options.0.horizontal_results.items %}
      <th scope="col">Tour {{option}}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for option in question.options %}
    <tr>
      <td>{{option.text}}</td>
      {% for option, result in option.horizontal_results.items %}
      <td>{{result}}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endfor %} {% endblock %}
