{% extends 'newref/base_vote.html' %}
{% load static %}
{% load crispy_forms_tags %} 

{% block specific_html %} 
{% for question in ref.questions %}
<hr>
{% if question.explanation%}<p class="mt-4">{{question.explanation|linebreaks}}</p>{% endif %}
<div class="mt-4"><strong>Question {{question.order}} : {{question.text|linebreaks}}</strong></div>

{% for option in question.options %}

<div class="custom-control custom-radio">
  <input {% if not ref.when == "during" %}disabled{% endif %} type="radio"
  value="{{option.id}}" id="optionRadio{{option.id}}"
  name="questionRadio{{question.id}}" class="custom-control-input" required />
  <label class="custom-control-label" for="optionRadio{{option.id}}"
    >{{option.text|linebreaks}}</label
  >
</div>

{% endfor %} 
{% endfor %} 
{% endblock %} 

{% block specific_js %} 

<script type="text/javascript">

    $(document).ready(function () {

        {% comment %} Initiation {% endcomment %}
        var json_init = JSON.parse($('[name="json"]').val());
        for (const key in json_init) {
            $("#optionRadio"+json_init[key].toString()).prop('checked', true);
        }

        {% comment %} On met un listener sur tous les forms{% endcomment %}
        $('input[type=radio]').change(function() {
            getOrders()
        });

        {% comment %} La fonction qui s'active à chaque changement d'odre {% endcomment %}
        function getOrders() {
            json = {};

            {% for question in ref.questions %}
                json[{{question.id}}]=$('input[name=questionRadio{{question.id}}]:checked').val()
            {% endfor %}

            $('[name="json"]').val(JSON.stringify(json));
            $('.alertcustom').prop('hidden',true);
            $('#alert_nok').prop('hidden',false);
            $('#savebut').attr("class","btn btn-warning btn-lg mt-4")
            $("#savebut").prop("disabled",false);
        };
    });

</script>

{% endblock %}
